doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Upload Images
        link(rel='stylesheet' href='./upload.css')
        script(src='upload.js')
    body 
    .container
        h1 Upload images
        h2 Select image
        form(action="/upload"  enctype="multipart/form-data" method="post")
            label.image
                img#output(src='https://cdn-icons-png.flaticon.com/512/685/685669.png')
                input#imgInput(type='file' onchange="loadImg(event)")
            input.btn(type='submit' value='Submit')
    
