doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Upload Images
        link(rel='stylesheet' href='/public/uploaded.css')
    body 
        .container
            h1 Image uploaded with success!
            .btn-container
                button.btn(onclick="location.href='/'") Go back to Gallery

