@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    width: 50%;
    margin: 30px auto 30px;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.gallery-img {
    display: none;
    max-height: 350px; 
    width: 100%;
}

.active {
    display: block;
}

.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #0074d9;
    color: #fff;
    font-size: 15px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.prev {
    margin-right: 15px;
}

.btn-new {
    display: flex;
    justify-content: center;
}

.new {
    background-color: #0074d9;
    color: #fff;
    font-size: 15px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 20px;
}
  

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    .gallery-img {
        width: 100%;
        min-height: 350px;
    }
}