@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c6c0b3;
}

.container {
    background-color: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 100px 80px 80px 80px;
    display: flex;
    flex-direction: row;
}

.gallery-img {
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
}


h1 {
    font-size: 40px;
    text-align: center;
    padding: 50px 0px 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    margin: 10px;
}

.password {
    margin: 5px;
}

.btn {
    background-color: #0074d9;
    color: #fff;
    font-size: 15px;
    padding: 2px 62px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
}